:root {
  // colors:
  --dark-blue: hsl(233, 47%, 7%);
  --dark-blue-desaturated: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  --white: hsl(0, 0%, 100%);
  --white-transparent-1: hsla(0, 0%, 100%, 0.75);
  --white-transparent-2: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: var(--dark-blue);
}

.card {
  max-width: 110rem;

  margin: 10rem auto 1.5rem;
  background-color: var(--dark-blue-desaturated);
  color: white;
  overflow: hidden;
  border-radius: 0.8rem;
  display: flex;

  @media only screen and (max-width: 56.25em) {
    max-width: 50rem;
    flex-direction: column-reverse;
  }

  @media only screen and (max-width: 34.375em) {
    max-width: 35rem;
  }

  // LEFT SIDE & BOTTOM
  &__left-side {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    padding: 6rem 10rem 6rem 6rem;

    @media only screen and (max-width: 56.25em) {
      text-align: center;
      padding: 4rem;
    }

    @media only screen and (max-width: 34.375em) {
      padding: 4rem;
    }
  }

  &__heading {
    font-weight: 700;
    font-size: 3.6rem;
    color: var(--white);
    margin-bottom: 2rem;

    @media only screen and (max-width: 34.375em) {
      font-size: 2.8rem;
    }

    &--highlight {
      color: var(--soft-violet);
    }
  }

  &__stats {
    color: var(--white);
    width: 100%;
    display: flex;

    gap: 5rem;
    line-height: 1.7;

    @media only screen and (max-width: 56.25em) {
      justify-content: center;
    }

    @media only screen and (max-width: 34.375em) {
      flex-direction: column;
      gap: 3rem;
      margin-top: -2rem;
    }

    &-heading {
      color: var(--white-transparent-2);
      font-family: 'Lexend Deca', serif;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1rem;
      letter-spacing: 0.1rem;

      @media only screen and (max-width: 34.375em) {
        font-size: 1.2rem;
      }
    }

    &-text {
      font-weight: 700;
      font-size: 2rem;

      @media only screen and (max-width: 34.375em) {
        font-size: 2.5rem;
      }
    }
  }

  // RIGHT SIDE & TOP
  &__right-side {
    flex: 1 0 50%;
    background-color: var(--soft-violet);
    position: relative;

    @supports not (mix-blend-mode: multiply) {
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(170, 92, 219, 0.35);
      }
    }
  }

  &__image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    @supports (mix-blend-mode: multiply) {
      mix-blend-mode: multiply;
    }

    @media only screen and (max-width: 34.375em) {
      object-fit: contain;
      height: auto;
    }
  }

  &__info-text {
    font-size: 1.5rem;
    line-height: 1.9;
    color: var(--white-transparent-1);
    margin-bottom: 6rem;
  }
}

// ATTRIBUTION
.attribution {
  font-size: 11px;
  padding: 2rem;

  color: var(--white);
  display: flex;
  justify-content: center;
  gap: 2rem;

  @media only screen and (max-width: 23.81em) {
    flex-direction: column;
    align-items: center;
  }

  &__link {
    color: var(--soft-violet);
    text-decoration: none;
    font-weight: 700;

    &:hover {
      color: var(--white);
      border-bottom: 0.3rem solid var(--soft-violet);
    }
  }
}

/* 
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)

### Neutral

- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400 */
